/doc/
/libs/
/.crystal/
/.shards/


# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
/.idea/
/examples/kemal/your_app/shard.lock
/examples/kemal/your_app/libs/

/examples/kemal/your_app/your_app

